<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <title>accueil</title>
</head>
<body>

<p class="text-center">
    Bienvenu sur le site "Bibliothèque".
</p>
<tbody>
<tr th:each="ouvrage: ${ouvrages}">
    <td th:text="${ouvrage.titre}" > </td>
    <td   >
        <p><span th:text="${ouvrage.auteur.prenom}"></span> <span th:text="${ouvrage.auteur.nom}"></span></p>
    </td>
</tr>
</tbody>

</body>
</html>