<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <title>accueil</title>
</head>
<body>

<header th:insert="~{header::header}" class="mb-5">
</header>
<p class="text-center">
    Bienvenu sur le site de la bibliothèque municipale.
</p>
<p class="text-center">
<img src="bibliothèque.png" height="autox" width="500px">
</p>
<p class="text-center">
    Voici la liste des livres disponible :
</p>
<form th:action="@{/}" method="get">
    <input type="text" placeholder="Titre, Auteur, maison édition" th:name="search">
    <input type="submit" value="Rechercher">
    </form>

<table class="table">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th th:if="${isLogged}" >Emprunter</th>
    </tr>
    </thead>
<tbody>
<tr th:each="ouvrage: ${ouvrages}">
    <td th:text="${ouvrage.titre}" >
    </td>
    <td   >
        <p><span th:text="${ouvrage.auteur.prenom}"></span> <span th:text="${ouvrage.auteur.nom}"></span></p>
    </td>
    <td th:if="${isLogged}">
        <form action="#" th:action="@{/emprunter}"  method="post">
            <input type="hidden" th:name="ouvrageId" th:value="${ouvrage.id}"/>
            <input type="submit" value="Emprunter" />
            </form>
    </td>
</tr>


</tbody>
</table>
</body>
</html>